<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration Form</title>
    <link href="../../CssFiles/StyleSheet.css" rel="stylesheet" media="all" />
    
</head>
<body id="RegistartPagebody">
    <form id="RegisterForm" action="" method="post">
        <h1 id="RegisterH1">Sign Up</h1>
        <input id="RegisterInput" type="text" placeholder="User Name" name="user name" autocomplete="on" required />
        <input id="RegisterInput" type="password" placeholder="Password" name="password" autocomplete="off" required />
        <input id="RegisterInput" type="password" placeholder="Repeat Password" name="confirmPassword" autocomplete="off" required />
        <input id="RegisterInput" type="email" placeholder="Email" name="email" autocomplete="on" required />
        <input id="RegisterInput" type="submit" name="Submbit" />
    </form>
</body>
</html>