<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../CssFiles/Login.css" rel="stylesheet" />
    <link href="../../CssFiles/loader.css" rel="stylesheet" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <form id="LoginForm" data-bind="submit: login">
        <div id="navBar"></div>
        <h1 style="margin-top:100px"> Log in</h1>
        <h2> Use local account to log in </h2>
        <hr />
        <label><strong> Username  </strong>  </label>
        <input id="userName" class="RegisterInput" type="text" placeholder="User Name" data-bind="value:userName" name="user name" autocomplete="on" required />

        <br />
        <label><strong> Password </strong>  </label>
        <input id="password" class="RegisterInput" type="password" placeholder="Password" data-bind="value:password" name="password" autocomplete="off" required />
        <br />
        <button id="LoginButton" type="submit">Login</button>
        <div class="loader" id="loader" hidden></div>
        <br />
        <br />
        <a href="../RegistrationPage/Register.html">  Register as new user  </a>

    </form>
    <script src="../../Jquery/jquery-3.2.1.js"></script>
    <script src="../../Scripts/NavBarScript.js"></script>
    <script src="../../../Scripts/knockout-3.4.2.debug.js"></script>
    <script src="../../../Scripts/knockout-3.4.2.js"></script>
    <script src="../../Scripts/Login.js"></script>

</body>
</html>