body {
    background-image: url('../Resources/homePageMazeImage.jpg');
    background-color: #cccccc;

}
.firstImage{
    width:40%;
    height:100%;
    position:relative;
    top:0;
    bottom:0;
}

.secondImage{
    width:12%;
    height:20%;
    position:absolute;
    top:50px;
    left:0px;
}
