#RegistartPagebody {
    background-color: #e8f3f8;
}


#RegisterH1 {
    margin-top:100px;
    text-align: center;
    font-size: 50px;
    color: black
}

#RegisterForm {
    margin: 20px auto;
    width: 320px;
    color: black;
}

input.RegisterInput {
    padding: 10px;
    font-size: inherit;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
    display: block;
}

#RegisterButton {
    padding: 10px;
    font-size: inherit;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
    display: block;
}
