<!-- The single player page -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../../Scripts/jquery-3.1.1.min.js"></script>
    <link href="../../BootStrap/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Scripts/SinglePlayer.js"></script>
    <script src="../../Scripts/TheMazePlugin/MazeBoardPlugin.js"></script>
    <link href="../../CssFiles/loader.css" rel="stylesheet" />

</head>
<body >
    <img src="../../Resources/minionphoto.PNG" id="playerImage" width="0" height="0" alt="playerImage" />
    <img src="../../Resources/destinationimage.PNG"  id="destinationImage" width="0" height="0" alt="destinationImage" />
  
    
    


    <div class="container body-content">
        <!-- The navbar of the page -->
       <div id="navBar"> </div>

        <h2 style="margin-top:50px">Single Player Game</h2><hr />
        <div class="col-sm-4 form-horizontal">
            <div class="form-group">
                <label for="mazeName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeName" />
                </div>
            </div>
            <div class="form-group">
                <label for="rows" class="col-sm-2 control-label">Rows</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="rows" />
                </div>
            </div>
            <div class="form-group">
                <label for="cols" class="col-sm-2 control-label">Cols</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="cols" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="button" class="form-control" value="Start New Game" id="startNewGame" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Search Algo</label>
                <div class="col-sm-10">
                    <select id="searchAlgorithm" class="form-control">
                        <option value="bfs">Bfs</option>
                        <option value="dfs">Dfs</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="button" class="form-control" value="Solve Game" id="solveGame" />
                </div>
            </div>

        </div>

        <div class="col-sm-8 text-center">
            <canvas id="mazeCanvas" tabindex="1" style="border:2px black solid" class="maze-board" width="500" height="500"></canvas>
          
        </div>
    </div>
    <div class="loader" id="loader" hidden></div>

    <!-- The scripts of the page -->
    <script src="../../Scripts/NavBarScript.js"></script>

</body>
</html>
