<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../../Scripts/jquery-3.1.1.min.js"></script>
    <link href="../../BootStrap/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../CssFiles/HomePageStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="navbar"> </div>

    <script type="text/javascript">
            $(function () {
                $("#navbar").load("../TheNavBar/NavBar.html");
            });
    </script>
    <img class="firstImage" src="../../Resources/homePageImage.png" style="align-content:center" />
    <img class="secondImage" src="../../Resources/animated-gif-homepage.gif" >
   
</body>
</html>