<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../Jquery/jquery-3.2.1.js"></script>
    <link href="../../BootStrap/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../CssFiles/HomePageStyle.css" rel="stylesheet" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div id="navBar"> </div>
    <img class="firstImage" src="../../Resources/homePageImage.png" style="align-content:center" />
    <img class="secondImage" src="../../Resources/animated-gif-homepage.gif" >
    <script src="../../Scripts/NavBarScript.js"></script>
    <script src="../../Scripts/HomePage.js"></script>
</body>
</html>