<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <script src="../../Jquery/jquery-3.2.1.js"></script>
    <script src="../../Jquery/jquery-3.2.1.min.js"></script>
    <script src="../../BootStrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../BootStrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="../../BootStrap/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../../BootStrap/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../CssFiles/loader.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div id="navBar">
    </div>
    <div style="margin-top:100px" class="container">
        <table class="table table-striped" id="rankingTable"></table>
    </div>

    <div class="loader" id="loader" ></div>

    <script src="../../Scripts/NavBarScript.js"></script>
    <script src="../../Scripts/Ranking.js"></script>
    
</body>
</html>