<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../BootStrap/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="../HomePage/HomePage.html"> Maze</a></li>
                <li><a href="../SinglePlayerGame/SinglePlayer.html">Single Game</a></li>
                <li><a href="../MultiPlayerGame/MultiPlayer.html"> MultiPlayer Game</a></li>
                <li><a href="../DefaultSettings/DefaultSettings.html"> Settings </a></li>
                <li><a href="../RankingPage/Ranking.html"> User Rangkings </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="register"  href="../RegistrationPage/Register.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="../LoginPage/LoginPage.html" id ="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
